@model cyber_project.Models.UserModel

@{
    ViewBag.Title = "LoginFailure";
}

<h2>Login Failure</h2>

<div>
    <h4>Please enter correct username and/or password.</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<p>
    @Html.ActionLink("Back to Login", "Login")
</p>
