@{
    ViewBag.Title = "RegistrationFailure";
}

<h2>Registration Failure</h2>

<div>
    <h4>Your username alrady exists. You should enter an correct name.</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<p>
    @Html.ActionLink("Back to Sign up", "Register")
</p>